appdirs==1.4.3
Axelrod==2.8.0
cycler==0.10.0
dj-database-url==0.4.1
Django==1.10.6
django-cors-headers==2.0.2
django-debug-toolbar==1.7
djangorestframework==3.6.2
hypothesis==3.7.0
matplotlib==2.0.0
numpy==1.12.1
packaging==16.8
prompt-toolkit==1.0.14
psycopg2==2.7.1
pyparsing==2.1.1
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
sqlparse==0.2.3
tqdm==3.4.0
wcwidth==0.1.7
whitenoise==3.3.0
